<ion-view title="{{contDetailTitle}}" id="page2">
    <ion-nav-bar class="bar-stable contNavBar" >

        <ion-nav-buttons side="left">
            <img class="headerIconsLeft" src="img/back_button.png" ng-click="nextdetail(-1)" ng-hide="hidePreviousInDetail">
            <!--                <img class="headerIconsLeft menuIcon" src="img/menu.png">-->
            <div class="iconSeprator" ng-hide="hidePreviousInDetail"></div>
            <img class="headerIconsLeft headerIconsLeft2" src="img/next_button.png" ng-click="nextdetail(1)" ng-hide="hideNextInDetail">
        </ion-nav-buttons>
        <ion-nav-buttons side="right">
            <img ng-click="closeContractSidePanel()" class="headerIconsRight" src="img/cancel.png">
            <figcaption ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaptionNew"> {{cancelButton}}</figcaption>
            <img ng-click="toggleContractSidePanel()" class="headerIconsRight headerIconsRight1" src="img/contract_menu.png">
            <figcaption  class="contHeaderFigCaptionNew">{{moreButton}}</figcaption>
        </ion-nav-buttons>
    </ion-nav-bar>

    <div id="contDetailSubHeaderNew" class="bar bar-subheader bar-balanced" ng-model="indices">
        <h2 class="title">{{contInformation}}</h2>
    </div>
   
    <ion-content padding="true" class="contractInfoCard" ng-model="index">
        <div class="card" style="overflow:visible;">
            <ion-list class="contractInfoItems">

                <div class="row">
                    <div class="col col-50 left">{{customerId}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.custId}}</div>
                </div>
                <div class="row">
                    <div class="col col-50 left">{{custFullName}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.firstName}} {{contractList[localSelectedArray[index]].json.lastName}}</div>
                </div>
                <div class="row">
                    <div class="col col-50 left">{{custContId}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.contractId}}</div>
                </div>
                <div class="row">
                    <div class="col col-50 left">{{unitCode}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.unitCode1}}</div>
                </div>
                <div class="row">
                    <div class="col col-50 left">{{regionTeam}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.tlName}}</div>
                </div>
                <div class="row">
                    <div class="col col-50 left">{{dateAssign}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.assignedDate | date:'dd-MM-yyyy'}}</div>
                </div>
				<div class="row">
                    <div class="col col-50 left">{{fieldUw}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.fieldUw}}</div>
                </div>
                <div class="row">
                    <div class="col col-50 left">{{ISSKIPTRACER}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.isskiptracer}}</div>
                </div>
                <div class="row">
                    <div class="col col-50 left">{{STATUS}}</div>
                    <div class="col col-50 right">{{contractList[localSelectedArray[index]].json.status}}</div>
                </div>
                <div class="row" ng-click="goToMap(contractList[localSelectedArray[index]])">
                    <div class="col col-50 left">{{directionText}}</div>
                    <div class="col col-50 right"><img class="dirAndAttachImages" src="img/direction.png" /></div>
                </div>
            </ion-list>            
        </div> 
<center>  <button class="addrType checkInCSSHistory" ng-click="checkIns(contractList[localSelectedArray[index]])"  > {{checkIn}}</button> </center>

  </ion-content>
<!--  ui-sref="fECREDIT.customerInformation" -->
     <div ng-click="nextBtnClickedForImage(contractList[localSelectedArray[index]])" ng-class="{ 'nextLinkViatname': nextbuttonViet }" class="bar-subfooter bar-assertive nextLink">

        {{nextButton}}
    </div>
    <ion-footer-bar align-title="left" class="bar-assertive footerTabBar" >
        <!-- <div  id="printReciept" class="buttons">
            <button class="button"><img class="bottomTabImages" src="img/print.png" />  
              <figcaption>{{footerPR}}</figcaption>
          </button>
        </div> -->
        <div  id="recordUpload"   class="buttons"  ng-click="goToRecordUpload(contractList[localSelectedArray[index]])">
            <button class="button"><img class="bottomTabImages" src="img/upload.png" />
            <figcaption> {{footerUR}} </figcaption>
        </button>
        </div>
        <div id="repossession" class="buttons" ng-click="goToContRepos(contractList[localSelectedArray[index]])">
            <button class="button"><img class="bottomTabImages" src="img/reposessions.png" />
            <figcaption> {{footerRepos}}</figcaption>
         </button>
        </div>
        <div id="ct" class="buttons footerLastButton" ng-click="goToContTerm(contractList[localSelectedArray[index]])">
            <button class="button"><img class="bottomTabImages" src="img/contract_termination.png" /> 
            <figcaption> {{footerCT}}</figcaption>
          </button>
        </div>
      
    </ion-footer-bar>
</ion-view>