<ion-view title="FE CREDIT" id="page1">


<ion-nav-bar class="bar-dark navbar headTitle" align-title="center">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear drawerMenuButton" menu-toggle="left"><img src="images/menu.png" alt="" class="drawerMenuImage" /></button>
            </ion-nav-buttons>
            
            
 <button id="statusButton" class="statusButon" type="button" ng-click="logoutEventHandler()" >{{logoutTitile}}
<img ng-hide="true" src="./images/drop_down.png" style="width: 10px; height: 8px"></button>


<div id="modes" class="modes" ng-hide="true">

<ul class="modesUl">
<li class="modesLi"><button class="modesLiBtn onlineButtons"  id="onlineButton" type="button" style="margin-top: 2px">
<img id="olImage" src="./images/online.png" style="width: 10px; height: 10px ; ">&nbsp;{{onlineTitle}} </button></li>


<li class="modesLi"><button class="modesLiBtn onlineButtons"  id="offlineButton"   type="button" >
<img src="./images/offline.png" ng-class="{ 'offlinecsss': cncloffline }"  style="width: 10px; height: 10px; ">&nbsp;{{offlineTitle}} </button></li>

<li class="modesLi" data-ng-click="logoutEventHandler()"><button class="modesLiBtn  onlineButtons" id="logoutButton"  type="button" >
<img id="logoutImage" src="./images/logout.png"  style="width: 10px; height: 10px ;">&nbsp;{{logoutTitile}}</button></li>

</ul>
</div>
</ion-nav-bar>



<ion-content >


 <div  class="bgimg" ng-model="UserNameToShow" >
    <div  style="text-align: left; padding-right: 10px ; padding-top: 20px ; float: right;">
     <p style="font-size:x-large; ;  color: red;">{{welcometitle}}</p> 
     <p style="font-size:small ;  color:white; padding: 0px ; margin: 0px">{{UserNameToShow}}</p>
 	</div>
</div>

    
<!-- <ion-slide-box>
<ion-slide>
   <div  class="bgimg" >
    <div  style="text-align: left; padding-right: 10px ; padding-top: 20px ; float: right;">
     <p style="font-size:x-large; ;  color: red;">Welcome</p> 
     <p style="font-size:small ;  color:white; padding: 0px ; margin: 0px">MS. MEGHA VERMA </p>
     <p  style="font-size:x-small ; color:white; padding: 0px ; margin: 0px">Last Login 15 minutes ago <p>
     <a style="font-size:x-small ;color:white; padding: 0px ; margin: 0px">Details </a>
    </div>
          
   </div>
</ion-slide>
 <ion-slide>
    <div class="box yellow" style="height: 150px"><h1>YELLOW</h1></div>
  </ion-slide>
  
  <ion-slide>
    <div class="box pink" style="height: 150px"><h1>PINK</h1></div>
  </ion-slide>
  
  <ion-slide>
  <div class="box red" style="height: 150px" ><h1>RED</h1></div>
  </ion-slide>
  
</ion-slide-box> -->


  
   
      
<!-- <label id="serchTextArea" class="item item-input">
  <i id="serchIcon"> <img style="width: 15px ; height: 15px"  src="./images/search.png"  /> </i>
  <input id= "searchText"  type="Search" placeholder="search">
  </label> -->
         
  <div  class="content-area">
     
         
 <Button id="searchButton"  ng-click="baseSearch()">
<i id="serchIcon"> <img style="width: 15px ; height: 15px"  src="./images/search.png" /> </i>
 {{searchBtn}} </Button>
         
   
   <div id="cont_row" class = "row homeRows" style="margin-top:7px">
   
   <div ui-sref="fECREDIT.contract"   id="c_col" class="col col-50"  style="width: 50%; text-align: center;padding-top: 10px;" >
            <img class="homeIcons"   src="./images/contract.png"  />
            <p style="text-align: center;">{{contractTitle}} </p>
      <!--  <hr class="divider"></hr>  -->
   </div>
    
   <div id="cont_vl" class="verticalLine">
   
   </div>
    <!-- fECREDIT.termination -->
  <div  ui-sref="fECREDIT.termination" id= "ct_col" class="col col-50"  style="width: 50%; text-align: center;padding-top: 10px;" >
            <img class="homeIcons"   src="./images/contract_termination.png"  />
          <p class="contractTermination" >{{footerCT}}</p>
       <!--  <hr class="divider"></hr>  -->
        </div>
        
  </div> 
    

     
  <div id="map_row" class = "row homeRows">
  <div ng-click="goToMapFromHome()"   id="map_col" class="col col-50"  style="width: 50%; text-align: center; padding-top: 18px;" >
            <img class="homeIcons"   src="./images/map.png"  />
            <p style="text-align: center;">{{mapButton}} </p>
              <!-- <hr class="divider"></hr>  -->
        </div>
  
    
    <div id="map_vl" class="verticalLine">
     </div>
    
      <div  ng-click="goToRepossFromHome()" id="rep_col" class="col col-50"  style="width: 50%; text-align: center;padding-top: 18px;" >
            <img class="homeIcons"   src="./images/reposessions.png"  />
            <p style="text-align: center;">{{footerRepos}}</p>
              <!-- <hr class="divider"></hr>  -->
        </div>
  
   </div> 
    

       
       
    <div id="rec_row" class ="row homeRows" >
    <div  ui-sref="fECREDIT.record" id="rec_col"  class="col col-50 lastrowborder"  style="width: 50%; text-align: center;padding-top: 18px;" >
            <img class="homeIcons"   src="./images/record.png"  />
            <p style="text-align: center;">{{recordButton}}</p>
        </div>
        
    <div id="rec_vl"  class="verticalLine">
    
     </div>
    
      <div    id="noti_col" class="col col-50 lastrowborder"  ui-sref="fECREDIT.notification"  style="width: 50%; text-align: center;padding-top: 18px;" >
            <img class="homeIcons"   src="./images/notification.png"  />
            <p style="text-align: center;">{{notificationTitle}}</p>
        </div>
  
    </div> 
    
 </div>
      
</ion-content>
</ion-view>