<ion-view title="{{contDetailTitle}}" id="page2">
     <ion-nav-bar class="bar-stable contNavBar" >
          
            <ion-nav-buttons side="left">
                <img class="headerIconsLeft" src="img/back_button.png" ng-click="nextdetail(-1)" ng-hide="hidePreviousInDetail">
<!--                <img class="headerIconsLeft menuIcon" src="img/menu.png">-->
                <div class="iconSeprator" ng-hide="hidePreviousInDetail"></div>
                  <img class="headerIconsLeft headerIconsLeft2" ng-click="nextdetail(1)"  src="img/next_button.png" ng-hide="hideNextInDetail">
            </ion-nav-buttons>
         <ion-nav-buttons side="right">
             <img ng-click="closeContractSidePanel()" class="headerIconsRight" src="img/cancel.png">
             <figcaption ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaptionNew"> {{cancelButton}}</figcaption>
             <img ng-click="toggleContractSidePanel()" class="headerIconsRight headerIconsRight1" src="img/contract_menu.png">
             <figcaption  class="contHeaderFigCaptionNew">{{moreButton}}</figcaption>
         </ion-nav-buttons>
        </ion-nav-bar>
    
    <div id="contDetailSubHeaderNew" class="bar bar-subheader bar-balanced" ng-model="index">
        <h2 class="title">{{loanInfoSubHeader}}</h2>
    </div>
    <ion-content  padding="true" class="contractInfoCard">
        <div  class="card">
            <ion-list class="contractInfoItems">

            <div class = "row">
                <div class = "col col-50 left">{{contractId}}</div>
                <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.contractId}}</div>
            </div>
            <div class = "row">
                <div class = "col col-50 left">{{dealDate}}</div>
                <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.dealDate | date:'dd-MM-yyyy'}}</div>
            </div>
            <div class = "row">
                <div class = "col col-50 left">{{loanTerm}}</div>
                 <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.term}}</div>
            </div>
              <div class = "row">
                <div class = "col col-50 left">{{loanProduct}}</div>
                 <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.product}}</div>
            </div>
              <div class = "row">
                <div class = "col col-50 left">{{loanAmount}}</div>
                <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.loanAmount}}</div>
            </div>
              <div class = "row">
                <div class = "col col-50 left">{{securityDeposit}}</div>
                 <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.securityDeposit}}</div>
            </div>   
            
             <div class = "row">
                <div class = "col col-50 left">{{cdlDesc}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.cdlDesc}}</div>
            </div>
            
             <div class = "row">
                <div class = "col col-60 left">{{bikeColor}}</div>
               <div class = "col col-40 right">{{contractList[localSelectedArray[index]].json.color}}</div>
            </div>
              <div class = "row">
                <div class = "col col-50 left">{{mrcNumber}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.mrc}}</div>
            </div>
           
                <div class = "row">
                <div class = "col col-50 left">{{loanDueDate}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.dueDay |date:'dd-MM-yyyy'}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{loanInstallment}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.installment}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{loanLastPay}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.lastPay}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{amountOverdue}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.amountOverdue}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{loanPos}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.posAmt}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{loanPenalty}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.penalty}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{numInstDue}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.noOfInstallmentOverdue}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{loanDpd}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.dpd}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{loanBucket}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.bucket}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{loanPaidTerm}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.paidTerm}}</div>
            </div>
             <div class = "row">
                <div class = "col col-50 left">{{loanTotalPaid}}</div>
               <div class = "col col-50 right">{{contractList[localSelectedArray[index]].json.noOfPaidMonth}}</div>
            </div>
           
            </ion-list>           
        </div>
        
 
    </ion-content>


   <div class="bar-subfooter bar-assertive contPrevLink"  ng-click="goBack()" >
        {{preButton}}
    </div>
    <div class="bar-subfooter bar-assertive nextLink" ng-class="{ 'nextLinkViatname': nextbuttoncontact }"   ng-click="goToNextInfo('fECREDIT.otherInformation')">
        {{nextButton}}
    </div>

    <ion-footer-bar  align-title="left" class="bar-assertive footerTabBar" >
      <!-- <div class="buttons">
          <button class="button"><img class="bottomTabImages" src="img/print.png" />  
              <figcaption>{{footerPR}}  </figcaption>
          </button>
      </div> -->
     <div class="buttons" ng-click="goToRecordUpload(contractList[localSelectedArray[index]])">
        <button class="button"><img class="bottomTabImages" src="img/upload.png" />
            <figcaption> {{footerUR}}</figcaption>
        </button>
      </div>
     <div class="buttons" ng-click="goToContRepos(contractList[localSelectedArray[index]])">
        <button class="button"><img class="bottomTabImages" src="img/reposessions.png" />
            <figcaption> {{footerRepos}}</figcaption>
         </button>
      </div>
      <div class="buttons footerLastButton" ng-click="goToContTerm(contractList[localSelectedArray[index]])">
        <button class="button"><img class="bottomTabImages" src="img/contract_termination.png" /> 
            <figcaption> {{footerCT}}</figcaption>
          </button>
      </div>
      
      
    </ion-footer-bar>
</ion-view>