<ion-view title="{{notification_Title}}" id="page29" class="contractView">
    <ion-nav-buttons
            side="left">
        <button class="button button-icon button-clear "
                menu-toggle="left">
            <img src="images/menu.png" alt="" class="drawerMenuImage"/> </button>
        <!--                <img class="headerIconsLeft menuIcon" src="img/menu.png">-->
        <div class="iconSeprator" ng-hide="true"></div>
        <img class="headerIconsLeft headerIconsLeft2" ng-hide="true"
             src="./images/back_button.png"> </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <figcaption  ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaption"  ng-click="closeContractModule()" >{{cancelButton}}</figcaption>
        <img   class="headerIconsRight" ng-click="closeContractModule()" src="img/cancel.png">

    </ion-nav-buttons>
        
        <form id="ptp" class="notificationFormSearch" >
            <div style="display:inline-flex;margin-top:5px;margin-left:5px;margin-right:10px;color:white;background-color: white;border-radius: 8px;height:38px;width:97%;border: 1px solid lightgrey;">
                <i class="icon ion-search placeholder-icon" style="padding:8px"></i>
                <input type="submit" ng-click="searchNotification()" value="{{searchBtnNoti}}" ng-class="{ 'searchTextBlack': searchTextBlack }"  style="background-color:white;border-style: none;color:none;width:83%;text-align: left;color: lightgrey;">
                <img ng-click="clearFilter()" alt="filter"  src="./images/filter.png" class="filtercss">
                    
                        </div>
        </form>
      
      
      
      <div align-title="left" class="footerTabBar iphoneFooter" style="display:inline-flex;width:100%; height:50px;">
          <div ng-class="{profileFooterSelected : btnOneSelected }" ng-click="notificationChanged(1)" class="notification_footer_buttons">


              <img class="notification_icon" src="./images/attachment.png"/><br/><p style="margin-top: -8px;">{{document}}</p>
              <p class="notification_icon_counter" ng-show="(docCount!='0')"
                 />
              {{docCount}}

              </button>
          </div>

          <div ng-class="{profileFooterSelected : btnThreeSelected }" ng-click="notificationChanged(3)" class="notification_footer_buttons">
              <img class="notification_icon" src="./images/information.png"/><br/><p style="margin-top: -8px;">{{information}}</p>

              <p class="notification_icon_counter" ng-show="(informationCount!='0')"
              />
              {{informationCount}}
              </button>
          </div>
          <div ng-class="{profileFooterSelected : btnFourSelected }" ng-click="notificationChanged(4)" class="notification_footer_buttons">
              <img class="notification_icon" src="./images/case.png"/><br/><p style="margin-top: -8px;">{{contractHeader}}</p>

              <p class="notification_icon_counter" ng-show="(ContractCount!='0')"
              />
              {{ContractCount}}

              </button>
          </div>

      </div>
      
      
      
      
 <!-- <div style="height:30px;background-color: #47ad37;margin-top: 6px;border-radius:5px ;">
 <h2  style="text-align:left;padding-left:3px; font-weight: normal;font-size: small;color: white;" >CONTRACT TERMINATION </h2>
 <h2  style="text-align:right;font-weight: normal;font-size: small;color: white;margin:0px !important">Approved</h2>
 </div>  -->
      
      
    
   
       
       <div exec-on-scroll-to-top="ctrl.handleScrollToTop"
           exec-on-scroll-to-bottom="ctrl.handleScrollToBottom"
           class="paginationScroll"
           >
   
   <div ng-hide="noDataFound" style="margin-top: 55%;margin-left: 17%;width:66%;text-align: center;font-size: 20px; color:#666666;" >{{noNotification}}</div>
  
       
       <div ng-click="goToTermOrRepos($index);" class="card"   ng-repeat="notification in notificationList   | limitTo:totalItemToShow"  ng-class="{notificationreadcss: notification.readStatus == false}">




            <ion-list class="contractInfoItems" style="margin-top:50px">



<div style="background-color:#54B847; margin-left: 0px;
    margin-right: 0px;" class="bar bar-balanced notibar" ui-sref="#">
    <h2 class="title" style="padding-left:3px; font-size:14px; text-align: left" >{{notification.collectionDescription.typeViet}}</h2>
    <h2 class="title" style="text-align:right;font-size:14px;display:none">{{notification.collectionDescription.statusViet}}</h2>
</div>
<div ng-hide="showcontract" class = "row" style=" margin-top: 44px; !important">
                    <div class = "col col-50 left">{{contractIdStr}}</div>
                    <div class = "col col-50 right">{{notification.collectionDescription.contractId}}</div>
                </div>
                

                
               <div ng-hide="showmessage" style="margin-top: 44px !important"class = "row" >
                <div class = "col col-50 left">{{title_message}}</div>
                <div class = "col col-50 right">{{notification.collectionDescription.title}}</div>
              </div>
            <div class = "row">
                <div class = "col col-50 left">{{notification_message}}</div>
                <div class = "col col-50 right" ng-if="deviceLang=='vi'">{{notification.collectionDescription.notificationMessages.vi_message}}</div>
                <div class = "col col-50 right" ng-if="deviceLang!='vi'">{{notification.collectionDescription.notificationMessages.en_message}}</div>

            </div>
              <div class = "row">
                <div class = "col col-50 left">{{notification_DON}}</div>
                <div class = "col col-50 right">{{notification.notificationTime}}</div>
            </div>
            
              <div class = "row">
                <div class = "col col-50 left">{{notification_SenderName}}</div>
                <div class = "col col-50 right">{{notification.sender}}</div>
            </div>
              <div class = "row">
                <div class = "col col-50 left">{{notification_Email}}</div>
                 <div class = "col col-50 right" style="width:auto !important; height:50 !important">{{notification.email}}</div>
            </div>   
            </ion-list>           
        </div>
        </div>

    
    
    
</ion-view>
