
<ion-view title="{{notification_Title}}" id="page31">
<ion-nav-buttons side="left">
    <div ng-click="myBack()" style="width: 100%; height: 100%">
                <img class="headerIconsLeft" src="img/back_button.png"  >
    </div>
            </ion-nav-buttons>


<ion-nav-buttons side="right">
    <figcaption ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaption"  ng-click="myBack()" >{{cancelButton}}</figcaption>
                 <img   class="headerIconsRight" ng-click="myBack()" src="img/cancel.png">
               
</ion-nav-buttons>



<ion-content >
<div  class="card"  >
 <ion-list class="contractInfoItems" style="margin-top:50px">

       
<div style="background-color:#54B847; margin-left: 0px;
    margin-right: 0px;" class="bar bar-balanced notibar" ui-sref="#">
    <h2 class="title" style="padding-left:3px; font-size:14px; text-align: left" >{{notificationInformation.type}}</h2>
    <h2 class="title" style="text-align:right;font-size:14px;">{{notificationInformation.collectionDescription.status}}</h2>
</div>
              <div class = "row" style=" margin-top: 44px !important">
                <div class = "col col-50 left">{{title_message}}</div>
                <div class = "col col-50 right">{{notificationInformation.collectionDescription.title}}</div>
            </div>
               

            <div class = "row" >
                <div class = "col col-50 left">{{notification_message}}</div>
                <div class = "col col-50 right">{{notificationInformation.collectionDescription.notificationMessages.vi_message}}</div>
            </div>
              <div class = "row">
                <div class = "col col-50 left">{{notification_DON}}</div>
                <div class = "col col-50 right">{{notificationInformation.notificationTime}}</div>
            </div>
             
              <div class = "row">
                <div class = "col col-50 left">{{notification_SenderName}}</div>
                <div class = "col col-50 right">{{notificationInformation.sender}}</div>
            </div>
            
              <div class = "row">
                <div class = "col col-50 left">{{notification_Email}}</div>
                 <div class = "col col-50 right" style="width:auto !important; height:50 !important">{{notificationInformation.email}}</div>
            </div>   
                   
        </ion-list>
</div> 
</ion-content>

</ion-view>