<!-- <ion-view title="{{ptpHeader}}" id="page8">-->
<!--	<ion-nav-buttons-->
<!--			side="left">-->
<!--		<button class="button button-icon button-clear "-->
<!--				menu-toggle="left">-->
<!--			<img src="images/menu.png" alt="" class="drawerMenuImage"/> </button>-->
<!--		               <img class="headerIconsLeft menuIcon" src="img/menu.png">-->
<!--		<div class="iconSeprator" ng-hide="true"></div>-->
<!--		<img class="headerIconsLeft headerIconsLeft2" ng-hide="true"-->
<!--			 src="./images/back_button.png"> </ion-nav-buttons>-->
<!--<ion-nav-buttons side="right">-->
<!--    <figcaption ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaption"  ng-click="closeContractModule()" >{{cancelButton}}</figcaption>-->
<!--                 <img   class="headerIconsRight" ng-click="closeContractModule()" src="img/cancel.png">-->
<!--               -->
<!--</ion-nav-buttons>-->
<!--	-->
<!--	-->
<!--	-->
<!--	<ion-content  scroll="false" class="has-header" overflow-scroll="false">-->
<!---->
<!--		<form id="ptp" class="list" >-->
<!--			<div style="display:inline-flex;margin-top:5px;margin-left:5px;margin-right:10px;color:white;background-color: white;border-radius: 8px;height:38px;width:97%;border: 1px solid lightgrey;">-->
<!--                <i class="icon ion-search placeholder-icon" style="padding:8px"></i>-->
<!--                <input type="submit" ng-click="Searchunpaid()" value="{{searchBtn}}" id="mytext_ptp" ng-class="{ 'searchTextBlack': searchTextBlack }"  style="background-color:white;border-style: none;color:none;width:83%;text-align: left;color: lightgrey;">-->
<!--               <img ng-click="clearFilter()" alt="filter"  src="./images/filter.png" class="filtercss">-->
<!---->
<!---->
<!--            </div>-->
<!--		</form>-->
<!---->
<!--		<div  style="margin-top:5px;margin-left:5px;margin-right:5px;" >-->
<!--		    -->
<!--			<button class="ptpbutton" ng-click="sortPtp()" >-->
<!--				{{sortpTPtitle}}-->
<!--				 <img   class="dropdown"  src="images/dropdownwhite.png">-->
<!--			</button>-->
<!--			-->
<!--			-->
<!--			<div ng-hide = "IsHidden"  class="borderview" >-->
<!---->
<!--				<ul>-->
<!---->
<!--					<li ng-click="Ptp(1)" class="lisort" id="ptpSort1" >-->
<!--						<label class="sortLabel1">{{ptpDateText}}</label>-->
<!--						-->
<!--						<img src="images/unCheckedBox.png" id="check1"   class="check1" /> -->
<!--					</li>-->
<!---->
<!--					<li ng-click="Ptp(2)" class="lisort" id="ptpSort2" >-->
<!--						<label class="sortLabel2">{{allocateDate}}</label>-->
<!--						-->
<!--						<img src="images/unCheckedBox.png" id="check2"  class="check1" />-->
<!--						-->
<!--					</li>-->
<!---->
<!--					<li class="libuttton">-->
<!--						<button class="sortbutton " ng-click="sortbuttonclick()" >-->
<!--							{{ptpGoButton}}-->
<!--						</button>-->
<!--						​-->
<!--					</li>-->
<!---->
<!--				</ul>-->
<!---->
<!--			</div>-->
<!---->
<!--		</div>-->
<!---->
<!--	</ion-content>-->
<!---->
<!--	<ion-content   scroll="xvz" padding="true" class="ptparrayheader"  ng-model="ptpIndex" overflow-scroll="false">-->
<!---->
<!--		-->
<!--		<div ng-model="key" class="card" style="margin-top: -8px;"-->
<!--        ng-repeat="ptpContract in (ptpContractList = contractList  | orderBy: -key | limitTo: 1: ptpIndex)" >-->
<!---->
<!--			-->
<!--			-->
<!--			-->
<!--			<ion-list class="contractInfoItems">-->
<!---->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--						{{allocatedDate}}-->
<!--					</div>-->
<!--					<div class = "col col-50 right">-->
<!--						{{ptpContract.json.assignedDate | date:'dd-MM-yyyy'  }}-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--						{{contractId}}-->
<!--					</div>-->
<!--					<div  ng-click="openDetail(ptpContract._id)" class = "col col-50 right">-->
<!--						{{ptpContract.json.contractId}}-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--						{{customerName}}-->
<!--					</div>-->
<!--					<div class = "col col-50 right">-->
<!--						{{ptpContract.json.firstName}}-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--						{{ptpAmountText}}-->
<!--					</div>-->
<!--					<div class = "col col-50 right">-->
<!--						{{ptpContract.json.ptpAmount}}-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--						{{ptpDateText}}-->
<!--					</div>-->
<!--					<div class = "col col-50 right">-->
<!--						{{ptpContract.json.nextActionDate | date:'dd-MM-yyyy'  }}-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--						{{contactAddressTitle}}-->
<!--					</div>-->
<!--					<div class = "col col-50 right">-->
<!--						{{ptpContract.json.offAddress}}-->
<!--					</div>-->
<!--				</div>-->
<!---->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--						{{contactNumberTitle}}-->
<!--					</div>-->
<!--					-->
<!--					<div class = "col col-50 right">-->
<!--					<a ng-show="ptpContract.json.fbNumber.length > 0">-->
<!--					-->
<!--					   	<div class="ptpCallButtonNum">{{ptpContract.json.fbNumber}}</div>-->
<!--					   -->
<!--					    <div>-->
<!--					    <img class="callButtonIcon" style="display:none" src="images/call_button.png" /></div>-->
<!--                  </a>-->
<!--					</div>-->
<!--		-->
<!--				</div>-->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--              {{installmentTitle}}-->
<!--					</div>-->
<!--					<div class = "col col-50 right">-->
<!--						{{ptpContract.json.installmentAmt}}-->
<!--					</div>-->
<!--				</div>-->
<!--				<div class = "row">-->
<!--					<div class = "col col-50 left">-->
<!--						{{serviceText}}-->
<!--					</div>-->
<!--					<div class = "col col-50 right">-->
<!--						{{ptpContract.json.serviceFee}}-->
<!--					</div>-->
<!--				</div>-->
<!---->
<!--			</ion-list>-->
<!--		</div>-->
<!--		-->
<!-- <div class="nextPreDiv" >-->
<!--		<div class="preLink2"     ng-show="previousDiv" ><h5 class="nextPreText" ng-click="nextCase(-1, ptpContractList)">{{preButton}}</h5></div>-->
<!--		<div class="nextLink2"   ng-show="(nextDiv && ptpContractList.length >0)" class=""><h5 class="nextPreText" ng-click="nextCase(1, ptpContractList)">{{nextButton}}</h5></div>	</div>-->
<!--    </ion-content>-->
<!--    -->
<!---->
<!-- -->
<!---->
<!--</ion-view>-->

















<ion-view title="{{ptpHeader}}" id="page8">
    <ion-nav-buttons
        side="left">
        <button class="button button-icon button-clear "
            menu-toggle="left">
            <img src="images/menu.png" alt="" class="drawerMenuImage"/> </button>
        <!--                <img class="headerIconsLeft menuIcon" src="img/menu.png">-->
        <div class="iconSeprator" ng-hide="true"></div>
        <img class="headerIconsLeft headerIconsLeft2" ng-hide="true"
            src="./images/back_button.png"> </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <figcaption ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaption"  ng-click="gotoPtpList()" >{{cancelButton}}</figcaption>
        <img   class="headerIconsRight" ng-click="gotoPtpList()" src="img/cancel.png">
            
            </ion-nav-buttons>
    
    
    <ion-content style="margin-top:6%;" padding="true" ng-model="paidIndex">
        <div  class="card" style="margin-top:0px">
            <ion-list class="contractInfoItems">
                
                <div class = "row">
                    <div class = "col col-50 left">
                        {{allocatedDate}}
                    </div>
                    <div class = "col col-50 right">
                        {{ptpContract.json.assignedDate | date:'dd-MM-yyyy'  }}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col col-50 left">
                        {{contractId}}
                    </div>
                    <div  ng-click="openDetail(ptpContract._id)" class = "col col-50 right">
                        {{ptpContract.json.contractId}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col col-50 left">
                        {{customerName}}
                    </div>
                    <div class = "col col-50 right">
                        {{ptpContract.json.firstName}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col col-50 left">
                        {{ptpAmountText}}
                    </div>
                    <div class = "col col-50 right">
                        {{ptpContract.json.ptpAmount}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col col-50 left">
                        {{ptpDateText}}
                    </div>
                    <div class = "col col-50 right">
                        {{ptpContract.json.nextActionDate | date:'dd-MM-yyyy'  }}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col col-50 left">
                        {{contactAddressTitle}}
                    </div>
                    <div class = "col col-50 right">
                        {{ptpContract.json.offAddress}}
                    </div>
                </div>
                
                <div class = "row">
                    <div class = "col col-50 left">
                        {{contactNumberTitle}}
                    </div>
                    
                    <div class = "col col-50 right">
                        <a ng-show="ptpContract.json.fbNumber.length > 0" href="tel:{{ptpContract.json.fbNumber}}">
                            <div class="ptpCallButtonNum">{{ptpContract.json.fbNumber}}</div>
                            <div>
                                <img class="callButtonIcon" src="images/call_button.png" /></div>
                        </a>
                    </div>
                    
                </div>
                <div class = "row">
                    <div class = "col col-50 left">
                        {{installmentTitle}}
                    </div>
                    <div class = "col col-50 right">
                        {{ptpContract.json.installmentAmt}}
                    </div>
                </div>
                <div class = "row">
                    <div class = "col col-50 left">
                        {{serviceText}}
                    </div>
                    <div class = "col col-50 right">
                        {{ptpContract.json.serviceFee}}
                    </div>
                </div>
                
            </ion-list>
        </div>
    </ion-content>
</ion-view>