<ion-view title="{{ptpHeader}}" id="page8">
	<ion-nav-buttons
			side="left">
		<button class="button button-icon button-clear "
				menu-toggle="left">
			<img src="images/menu.png" alt="" class="drawerMenuImage"/> </button>
		<!--                <img class="headerIconsLeft menuIcon" src="img/menu.png">-->
		<div class="iconSeprator" ng-hide="true"></div>
		<img class="headerIconsLeft headerIconsLeft2" ng-hide="true"
			 src="./images/back_button.png">
    </ion-nav-buttons>
<ion-nav-buttons side="right">
    <figcaption ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaption"  ng-click="closeContractModule()" >{{cancelButton}}</figcaption>
                 <img   class="headerIconsRight" ng-click="closeContractModule()" src="img/cancel.png">
</ion-nav-buttons>


    
    <ion-content  scroll="false" class="has-header" overflow-scroll="false">
        <form id="paidSearchbox" class="list" >
            <div style="display:inline-flex;margin-top:5px;margin-left:5px;margin-right:10px;color:white;background-color: white;border-radius: 8px;height:38px;width:97%;border: 1px solid lightgrey;">
                <i class="icon ion-search placeholder-icon" style="padding:7px"></i>
                <input type="submit" ng-click="Searchunpaid()" value="{{searchBtn}}" id="mytext_record" ng-class="{ 'searchTextBlack': searchTextBlack }"  style="background-color:white;border-style: none;color:none;width:83%;text-align: left;color: lightgrey">
                    <img ng-click="clearFilter()" alt="filter"  src="./images/filter.png" class="filtercss">
                        </div>
            </form>
    </ion-content>
	
	
	
	
	<ion-content  style="margin-top: 40px" scroll="false" overflow-scroll="false" class="has-header">
        
            <div  style="margin-top:15px;margin-left:5px;margin-right:5px;" >
                <button class="ptpbutton" ng-click="sortPtp1()" >
                    {{sortpTPtitle}}
                    <img   class="dropdown"  src="images/dropdownwhite.png">
                        </button>
                <div ng-hide = "IsHidden"  class="borderview" >
                    <ul>
                        <li ng-click="Ptp(1)" class="lisort" id="ptpSort1" >
                            <label class="sortLabel1">{{ptpDateText}}</label>
                            <img src="images/unCheckedBox.png" id="check1"   class="check1" />
                        </li>
                        <li ng-click="Ptp(2)" class="lisort" id="ptpSort2" >
                            <label class="sortLabel2">{{allocateDate}}</label>
                            <img src="images/unCheckedBox.png" id="check2"  class="check1" />
                        </li>
                        <li class="libuttton">
                            <button class="sortbutton " ng-click="sortbuttonclick()" >
                                {{ptpGoButton}}
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
         </ion-content>
    <div style="margin-top: 42%;">
            <div id="recordColumnHeader" style="margin-top:4px;margin-left:4px;margin-right:4px" class="bar bar-subheader bar-balanced">
                <div style="width:22%" class = "recordheaderBarCols">{{contractId}}</div>
                <div style="width:32%" class = "recordheaderBarCols">{{contCustName}}</div>
                <div style="width:29%" class = "recordheaderBarCols">{{dateAssign}}</div>
                <div style="width:17%" class = "recordheaderBarCols">{{directionText}}</div>
            </div>
        
    </div>

    
    <ion-content scroll="xvz" style="margin-bottom:20px;margin-top: 145px;" has-bouncing="true" class="contractListContainerRecord1" padding="true" ng-class="{ 'recordContentTopCss': cnclButtonViet }">
        <div class="recordRows"   class="bar bar-subheader bar-balanced"
         ng-repeat="paid in (paidContractList = contractList | orderBy: key)"style="border-top: 1px solid lightgrey;" >
            <div style="width:22%" class = "recordListCols" data-ng-click="paidnextscreen(paid,$index)">{{paid.json.contractId}} </div>
            <div style="width:32%" class = "recordListCols" data-ng-click="paidnextscreen(paid,$index)">{{paid.json.firstName}}</div>
            <div style="width:29%" class = "recordListCols" data-ng-click="paidnextscreen(paid,$index)">{{paid.json.assignedDate | date:'dd-MM-yyyy' }} </div>
            <div style="width:17%" class = "recordListCols"  ng-click="goToMap(contract)">
                <img class="recorddirAndAttachImages" src="img/direction.png"/>
            </div>
        </div>        
        
    </ion-content>


 </ion-view>
