<ion-view title="Contract Detail" id="page2">
      <ion-nav-bar class="bar-stable contNavBar">
         
            <ion-nav-buttons side="left">
                <img class="headerIconsLeft" src="img/back_button.png" ng-hide="hidePreviousInDetail">
<!--                <img class="headerIconsLeft menuIcon" src="img/menu.png">-->
                <div class="iconSeprator" ng-hide="hidePreviousInDetail"></div>
                  <img class="headerIconsLeft headerIconsLeft2"  src="img/next_button.png" ng-hide="hideNextInDetail">
            </ion-nav-buttons>
         <ion-nav-buttons side="right">
                 <img ng-click="closeContractModule()" class="headerIconsRight"  src="img/cancel.png">
                <figcaption ng-click="closeContractModule()"   class="contHeaderFigCaption"> Cancel</figcaption>
              <img ng-click="toggleContractSidePanel()" class="headerIconsRight headerIconsRight1"  src="img/contract_menu.png">
                 <figcaption ng-click="toggleContractSidePanel()"  class="contHeaderFigCaption">  More</figcaption>
            </ion-nav-buttons>
        </ion-nav-bar>
    <div id="contDetailSubHeader" class="bar bar-subheader bar-balanced">
        <h2 class="title">Sale Information</h2>
    </div>
    <ion-content scroll="false" padding="true" class="contractInfoCard">
        <div  class="card">
            <ion-list class="contractInfoItems">

            <div class = "row">
                <div class = "col col-50 left">Direction</div>
                <div class = "col col-50 right"><img class="dirAndAttachImages" src="img/direction.png" /></div>
            </div>
           
            </ion-list>           
        </div>
    </ion-content>
     <div id="contDetailSubHeader" class="bar bar-subheader bar-balanced infoEvalCard">
        <h2 class="title">Information Evaluation</h2>
    </div>
    <ion-content scroll="false" padding="true" class="contractInfoCard infoEvalCard">
        <div  class="card">
            <ion-list class="contractInfoItems">

            <div class = "row">
                <div class = "col col-100 left">NV CC: &#60;&#60;CC_CODE&#62;&#62;, &#60;&#60;CC_NAME&#62;&#62;, &#60;&#60;CC_PHONE&#62;&#62;</div>
                
            </div>
            <div class = "row">
                <div class = "col col-100 left">NV DSA: DSA Code, DSA Name</div>
                
            </div>
            <div class = "row">
                <div class = "col col-100 left">Recent Notes</div>
               
            </div>
           
            </ion-list>           
        </div>
    </ion-content>
    
    
    
 <div class="bar-subfooter bar-assertive nextLink" ui-sref="fECREDIT.dueInformation" >
     Next
    </div>
    <ion-footer-bar  align-title="left" class="bar-assertive footerTabBar">
      <div class="buttons">
          <button class="button"><img class="bottomTabImages" src="img/print.png" />  
              <figcaption>Print Receipt  </figcaption>
          </button>
      </div>
     <div class="buttons">
        <button class="button"><img class="bottomTabImages" src="img/upload.png" />
            <figcaption> Upload Record </figcaption>
        </button>
      </div>
     <div class="buttons">
        <button class="button"><img class="bottomTabImages" src="img/reposessions.png" />
            <figcaption> Repossesions</figcaption>
         </button>
      </div>
      <div class="buttons footerLastButton">
        <button class="button"><img class="bottomTabImages" src="img/contract_termination.png" /> 
            <figcaption> Contract Termination</figcaption>
          </button>
      </div>
      
      
    </ion-footer-bar>
</ion-view>