

<ion-view title="Search" id="page3">
    <ion-content padding="true"    has-bouncing="false" class="searchcontent">
   

 <div>

 <span ng-click="closebutton()" class="close-btn"><a class ="a" href="#">X</a></span>

<div class="row">
<div class="col col-50 left">From</div>
<div class="col col-50 right">
		<div  style="position:relative;top:0px;z-index: 150;">
		
		<!-- <p class="divTime">Time</p> -->
		</div>
		
		<div class="absTopCalender" style="position: absolute;z-index: 100;">
		<input type="datetime-local"  id="calender_nextactiondate"  class="cal-imgnext"   ng-click="recordnextactioncalender()"   style="width: 120px; height: 20px;font-size:7pt;background-color:white;padding: 3px 0px 0px 2px;"/>
        <img class="cal-img" src="./images/calender.png" >
 		</div>
		</div>
		</div>



<div class="row">
<div class="col col-50 left">To</div>
<div class="col col-50 right">
		<div  style="position:relative;top:0px;z-index: 150;">
		
		<!-- <p class="divTime">Time</p> -->
		</div>
		
		<div class="absTopCalender" style="position: absolute;z-index: 100;">
		<input type="datetime-local"  id="calender_nextactiondate"  class="cal-imgnext"   ng-click="recordnextactioncalender()"   style="width: 120px; height: 20px;font-size:7pt;background-color:white;padding: 3px 0px 0px 2px;"/>
        <img class="cal-img" src="./images/calender.png" >
 		</div>
		</div>
		</div>





<div ng-hide="quickhide" style="padding: 1px 0; display: inline-flex;width: 100%;border: 1px solid lightgray;margin-top: 4px; background-color: white;">

<input type="search" style="margin-left: 5px;width: 86%;" placeholder="{{enterKeyTitle}}" ng-model="valueData" ng-enter="simpleSearch(valueData)" />
<img src="./images/search.png" style="width: 20px; height: 20px; margin-top: 8px;"  ng-click="simpleSearch(valueData)" />

 </div>

 </div>


</ion-content>



</ion-view>