<ion-view title={{footerCT}} id="page24">

	<!--
    <ion-nav-buttons side="left">
        <img class="headerIconsLeft headerIconsLeft2"
             src="./images/back_button.png"> </ion-nav-buttons>-->
	<ion-nav-buttons side="left">
		<button class="button button-icon button-clear" menu-toggle="left">
			<img src="images/menu.png" alt="" class="drawerMenuImage"/> </button>
	</ion-nav-buttons>


	<ion-nav-buttons side="right">
    
    <figcaption ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"  class="contHeaderFigCaption"  ng-click="closeTerminationModule()" >{{cancelButton}}</figcaption>
    <img   class="headerIconsRight" ng-click="closeTerminationModule()" src="img/cancel.png">
        
</ion-nav-buttons>

	<ion-content scroll="false" class="has-header">
		<form id="paidSearchbox" class="list">

			<div style="display:inline-flex;margin-top:5px;margin-left:5px;margin-right:10px;color:white;background-color: white;border-radius: 8px;height:38px;width:97%;border: 1px solid lightgrey;">
				<i class="icon ion-search placeholder-icon" style="padding:7px"></i>
				<input type="submit" ng-click="Searchunpaid()" value="{{searchBtn}}" id="mytext_termination" ng-class="{ 'searchTextBlack': searchTextBlack }" style="background-color:white;border-style: none;color:none;width:83%;text-align: left;color: lightgrey">
				<img ng-click="clearFilter(1)" alt="filter" src="./images/filter.png" class="filtercss">


			</div>
			<div ng-show="termListHeader" class="contColumnHeader termColumnHeader" ng-model="selectedContractMap">
				<div style="width:27%" class="recordheaderBarCols">{{contractId}}</div>
				<div style="width:38%" class="recordheaderBarCols">{{contCustName}}</div>
				<div style="width:35%" class="recordheaderBarCols">{{dateAssign}} </div>


			</div>
		</form>
	</ion-content>

	<ion-content ng-show="listContract" class="contractListContainerRecord">

		

		<div class="contractRows" class="bar bar-subheader bar-balanced" ng-click="selectContractListItems($index)" ng-repeat="contract in contractList">
			<div style="width:27%" class="recordListCols">{{contract.json.contractId}} </div>
			<div style="width:38%" class="recordListCols">{{contract.json.firstName}}</div>
			<div style="width:35%" class="recordListCols">{{contract.json.assignedDate | date:'dd-MM-yyyy'}} </div>
		</div>
	</ion-content>









	<ion-content style="margin-top:14%; margin-bottom:9%;" padding="true" has-bouncing="false" class="recordcontractInfoCard" ng-show="termFormPart1">
		<div class="row" id="statusDiv" style="height:auto;border: solid 0px;background-color: #47ad37; display: inline-flex; border-radius: 10px;margin-bottom: 3px;" >
			<span  style="color: #008345;padding-top: 0px;height: 100%;margin-left:4%; width: auto;white-space: nowrap;color: white;">{{status}} : </span>
			<span  id="terminationStatus" style="color: white;padding-left: 5px;padding-right: 10px;padding-top: 0px;"></span>
		</div>
		
		<div class="card contactTerminationTop">
			<ion-list class="contractInfoItems">
				<div class="row">
					<div class="col col-50 left">{{contractId}}</div>
					<div id="contractId" class="col col-50 right" style="color: #008345">{{terminationSelected.contractId}}</div>
				</div>
				<div class="row">
					<div class="col col-50 left">{{contCustName}}</div>
					<div id="customerName" class="col col-50 right" style="color: #008345">{{terminationSelected.fullName}}</div>
				</div>
                 <div class="row">
					<div class="col col-50 left">Days Past Due</div>
					<div id="customerName" class="col col-50 right" style="color: #008345">{{terminationSelected.dpd}}</div>
				</div>



				<div class="row">
					<div class="col col-50 left">{{bucket}}</div>
					<div id="bucket" class="col col-50 right" style="color: #008345">{{terminationSelected.bucket}}</div>
				</div>
				<div class="row">
					<div class="col col-50 left">{{unit}}</div>
					<div id="unit1" class="col col-50 right" style="color: #008345">{{terminationSelected.unitCode}}</div>
				</div>

				<div class="row">
					<div class="col col-50 left">{{chargedOff}}</div>
					<div id="unit2" class="col col-50 right" style="color: #008345">{{terminationSelected.chargeOffFlag}}</div>
				</div>
                
                
               
               <div class="row">
                    <div class="col col-50 left">Remaining Fee</div>
                    <div id="unit2" class="col col-50 right" style="color: #008345">{{terminationSelected.remainingFee}}</div>
                </div>




				<div class="row">
					<div class="col col-50 left">{{principalOs}}</div>
					<div class="col col-50 right" style="color: #008345">{{terminationSelected.principleOutstanding}}</div>
				</div>


				<div class="row">
					<div class="col col-50 left">{{interest}}</div>
					<div class="col col-50 right" style="color: #008345">{{terminationSelected.interestOutstanding}}</div>
				</div>

				<div class="row">
					<div class="col col-50 left">{{loanPenalty}}</div>
					<div class="col col-50 right" style="color: #008345">{{terminationSelected.prepaymentPenalty}}</div>
				</div>


				<div class="row">
					<div class="col col-50 left">{{earlyTermiantionFee}}</div>
					<div class="col col-50 right" style="color: #008345">{{terminationSelected.earlyTerminationFee}}</div>
				</div>

				<div class="row">
					<div class="col col-50 left">{{excessAmount}}</div>
					<div id="unit3" class="col col-50 right" style="color: #008345">{{terminationSelected.excessAmount}}</div>
				</div>


				<div class="row">
					<div class="col col-50 left">{{amountPaidByCust}}</div>
					<div id="unit4" class="col col-50 right" style="color: #008345">{{terminationSelected.totalAmontPaidByCustomer}}</div>
				</div>

				<div class="row">
					<div class="col col-50 left">{{penaltyFeeRqust}} </div>
					<div class="col col-50 right">
					 <div id="penaltyFeeModal" class="col col-50 right" style="color: #008345">{{terminationSelected.penaltyFeeRequested}}</div>
                       
					</div>
				</div>

				<div class="row">
					<div class="col col-50 left">{{earlyTerFeeRequst}}</div>
					<div class="col col-50 right">
					  <div id="earlyTerminationModal" class="col col-50 right" style="color: #008345">{{terminationSelected.earlyTerminationFeeRequested}}</div>
                      
                            
                            
					</div>
				</div>


				<div class="row">
					<div class="col col-50 left">{{waiveRequest}}</div>
					<div class="col col-50 right">
                    <div id="waiveModal" class="col col-50 right" style="color: #008345">{{terminationSelected.totalWaiveRequest}}</div>
                    
					</div>
				</div>


				<div class="row">
					<div class="col col-50 left">{{phoneNum}}</div>
					<div class="col col-50 right">
                        <div id="waiveModal" class="col col-50 right" style="color: #008345 ">{{terminationSelected.phoneNumber}}</div>
                        
                    </div>
				</div>




				<div class="row" style="display:none;">
					<div class="col col-50 left">{{noOfInstallments}}</div>
					<div class="col col-50 right" style="color: #008345">{{terminationSelected.numberOfInstallment}}</div>
				</div>

				<div class="row" >
					<div class="col col-50 left">{{reason}}</div>
					<div class="col col-50 right" id="reasonValue" style="color: #008345"></div>
				</div>

				<div class="row" >
					<div class="col col-50 left">{{payer}}</div>
					<div class="col col-50 right" id="payerValue"  style="color: #008345"></div>
				</div>




			</ion-list>
		</div>

		<center id="cancelTermBtn" > <button class="addrType checkInCSS" style="margin-bottom: 10px" ng-click="cancelRequest()"> {{cancelButton}}</button>  </center>


		<div style="display:none;" class="bar-subfooter bar-assertive nextLink2" ng-click="nextTerminationScreen()">
			{{nextButton}}
		</div>


	</ion-content>


	<ion-content style="margin-top:15%; margin-bottom: 9%; " ng-show="termFormPart2">



		<div ng-click="reasonclick()" style="height:30px;background-color: #47ad37;margin-top: 6px;border-radius:5px ;margin-left: 2%;
margin-right: 2% ">
			<label class="ctCheckboxes">{{reason}}</label>
			<img src="./images/dropdownwhite.png" style="width: 17px; height: 10px;margin-left: 88.5%;margin-top: 11px;" />
		</div>
		<div class="card" ng-show="reasondropdownview">
			<ion-checkbox ng-disabled="checkBoxDisable" ng-checked="rsnChk4" ng-click="selectReasonCheckBox('rsnChk4')" style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right">{{financialhardship}}</ion-checkbox>
			<ion-checkbox ng-disabled="checkBoxDisable" ng-checked="rsnChk1" ng-click="selectReasonCheckBox('rsnChk1')" style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right">{{customerDeceased}}</ion-checkbox>
			<ion-checkbox ng-disabled="checkBoxDisable" ng-checked="rsnChk2" ng-click="selectReasonCheckBox('rsnChk2')" style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right">{{accidentSickness}}</ion-checkbox>
			<ion-checkbox ng-disabled="checkBoxDisable" ng-checked="rsnChk3" ng-click="selectReasonCheckBox('rsnChk3')" style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right">{{collateral}}</ion-checkbox>
		</div>



		<div ng-click="payerclick()" style="height:30px;background-color: #47ad37;margin-top: 6px;border-radius:5px;margin-left: 2%;
margin-right: 2%">

			<label class="ctCheckboxes">{{payer}}</label>
			<img src="./images/dropdownwhite.png" style="width: 17px; height: 10px;margin-left: 88.5%;margin-top: 11px;" />
		</div>
		<div class="card" ng-show="payerdropdownview">
			<ion-checkbox ng-disabled="checkBoxDisable" style="margin:-10px !important; border-width:0px !important" ng-checked="payChk1" ng-click="selectPayerCheckBox('payChk1')" class="item-checkbox-right">{{customer}}</ion-checkbox>
			<ion-checkbox ng-disabled="checkBoxDisable" style="margin:-10px !important; border-width:0px !important" ng-checked="payChk2" ng-click="selectPayerCheckBox('payChk2')" class="item-checkbox-right">{{relative}}</ion-checkbox>
			<ion-checkbox ng-disabled="checkBoxDisable" style="margin:-10px !important; border-width:0px !important" ng-checked="payChk3" ng-click="selectPayerCheckBox('payChk3')" class="item-checkbox-right">{{other}}</ion-checkbox>
		</div>




		<!-- <div style="height:32px ;margin-top: 2%;">

			<div class="attachCheckInImg" ng-click="checkIn()">
				<p>{{checkInButton}}</p>
			</div>

			<div class="attachImg attachCheckInImg" ng-click="attachFile()">
				<p>{{attachFileButton}}</p>
			</div>

		</div>
		<ul id="attachmentList"> </ul>
		<div ng-click="addrclick()" style="height:30px;background-color: #47ad37;margin-left: 10px;margin-right: 10px;">

			<label class="advanceheaderview">{{addressType}}</label>
			<img src="./images/dropdownwhite.png" style="width: 17px; height: 10px;margin-left: 90%;margin-top: 11px;" />
		</div>
		<div>
			<ul class="addrTypeUl" style="background-color: white;margin-left: 10px;margin-right: 10px" ng-hide="addrdropdownview">
				<li ng-click="addressFunction(data,$event,$index)" ng-attr-id="addrTypeTermLi{{$index}}" class="advancels" ng-repeat="data in addressTypeList">{{data.value}}</li>

			</ul>

		</div>
		<div class="distanceDiv">
			<div class="distanceText">{{distance}}:</div>
			<div class="distanceInput"> <span id="distanceTerm"></span></div>
		</div>
-->




		<div class="bar-subfooter bar-assertive previousLinkCt" ng-click="previousTerminationScreen()">
			{{preButton}}
		</div>


	</ion-content>
<div class="addressPrompt" id="addrPromptPopUpTerm">
		<h4>{{unableFindAddr}}</h4>
		<h6>{{addrPromptMsgOnline}}</h6>
		<textarea  rows="4" class="tArea" id="addrTextAreaTerm" ></textarea>
		<div class="btn">
			<div class="btns" ng-click="onAddrPromptTerm(2)" >{{cancelButton}}</div>
			<div class="btns" ng-click="onAddrPromptTerm(1)" >{{proceedBtn}}</div>
			<div class="btns" ng-click="onAddrPromptTerm(3)" >{{searchBtn}}</div>
		</div>
	</div>




</ion-view>