<ion-view title={{footerCT}} id="page25">
   
   
<!-- <ion-nav-buttons side="left">
<img class="headerIconsLeft menuIcon" src="img/menu.png"> </ion-nav-buttons> 
	
<ion-nav-buttons side="right">
<img  class="printheaderIconsRight" ng-click="closeContractModule()" 
	src="./images/cancel.png">
<figcaption class="printHeaderFigCaption">{{cancelButton}}</figcaption>
</ion-nav-buttons> -->

<ion-nav-buttons side="left">
<img class="headerIconsLeft headerIconsLeft2"
	src="./images/back_button.png"> </ion-nav-buttons> 
	
	

<ion-nav-buttons side="right">
<img  class="printheaderIconsRight" ng-click="closeContractModule()" 
	src="./images/cancel.png">
<figcaption  id="cancelButton" class="printHeaderFigCaption">{{cancelButton}}</figcaption>
</ion-nav-buttons>



 <ion-content  style="padding:0px 10px 0px!important">
   
  <!--   <div  class="card" >
          
     <div class="row">
		<div class="col col-60 left" >{{closingAmount}}</div>
		<div class="col col-80 right" style="color: #008345">d123456</div>
	</div>
         
         
         <div class="row">
		<div class="col col-60 left" >{{loanDpd}}</div>
		<div class="col col-80 right" style="color: #008345">d123456</div>
	</div>

    <div class="row">
		<div class="col col-60 left">{{assetCondition}}</div>
		<div class="col col-80 right">
			<input type="text"
				style="width: 80px; height: 20px; border: 5px solid green; border-width: 1px;">
		</div>
	</div>
	
	<div class="row">
		<div class="col col-60 left">{{financialCondition}}</div>
		<div class="col col-80 right">
			<input type="text"
				style="width: 80px; height: 20px; border: 5px solid green; border-width: 1px;">
     </div>
     </div>
	
	<div class="row">
		<div class="col col-60 left">{{proposalSalesPrice}}</div>
		<div class="col col-80 right">
			<input type="text"
				style="width: 80px; height: 20px; border: 5px solid green; border-width: 1px;">
     </div>
	
	</div>
	
 </div> -->
 
 
<div ng-click="reasonclick()" style="height:30px;background-color: #47ad37;margin-top: 6px;border-radius:5px ;">
<label class="ctCheckboxes">{{reason}}</label>
 <img src="./images/dropdownwhite.png" style="width: 17px; height: 10px;margin-left: 88.5%;margin-top: 11px;" />
 </div>
  <div class="card"  ng-show="reasondropdownview">
   <ion-checkbox style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right" >{{customerDeceased}}</ion-checkbox>
    <ion-checkbox style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right" >{{accidentSickness}}</ion-checkbox>
    <ion-checkbox style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right" >{{collateral}}</ion-checkbox>
  </div>
  
  
  
  <div ng-click="payerclick()"   style="height:30px;background-color: #47ad37;margin-top: 6px;border-radius:5px">

<label class="ctCheckboxes">{{payer}}</label>
 <img src="./images/dropdownwhite.png" style="width: 17px; height: 10px;margin-left: 88.5%;margin-top: 11px;" />
 </div>
  <div class="card" ng-show="payerdropdownview">
   <ion-checkbox style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right" >{{customer}}</ion-checkbox>
    <ion-checkbox style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right" >{{relative}}</ion-checkbox>
    <ion-checkbox style="margin:-10px !important; border-width:0px !important" class="item-checkbox-right" >{{other}}</ion-checkbox>
  </div>
  
  
 
  
  <div class="row">
		<!-- <div class="col col-55 left">{{attachments}}</div> -->
		
		<div class="attachImg" ng-click="" style="margin-left: 10px">
                <p>{{attachFileButton}}</p>
        </div>
		
		
	 <!-- <img  style="margin-left:80px"   class="dirAndAttachImages" id="attachcash" src="./images/attachment_icon.png" /> -->
     
</div>
  
  
  <center>  <button class="addrType checkInCSS" style="margin-bottom: 10px" > {{saveButton}}</button> </center>
  
	<!-- <button class="button"  style="background-color: #008345;margin:auto;color:#ffffff;
  display:block;width:100px;height:10px;margin-bottom:5px">{{saveButton}}</button>   -->
  
	 </ion-content>
	 
	 
	  