<!-- <ion-view title="{{unPaidCaseTitle}}" id="page10">
 
     <ion-nav-buttons
	side="left">
<button class="button button-icon button-clear"
	menu-toggle="left">
	<img src="images/menu.png" alt="" class="drawerMenuImage"/> </button>
               <img class="headerIconsLeft menuIcon" src="img/menu.png">
<div class="iconSeprator" ng-hide="true"></div>
<img class="headerIconsLeft headerIconsLeft2" ng-hide="true"
	src="./images/back_button.png"> </ion-nav-buttons> <ion-nav-buttons side="right">
 <figcaption  ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaption"  ng-click="closeContractModule()" >{{cancelButton}}</figcaption>
                 <img   class="headerIconsRight" ng-click="closeContractModule()" src="img/cancel.png">
               
</ion-nav-buttons>
 <ion-content  scroll="false"   class="has-header" overflow-scroll="false">
   <form id="paidSearchbox" class="list">
			 
			
			
			   <div style="display:inline-flex;margin-top:5px;margin-left:5px;margin-right:10px;color:white;background-color: white;border-radius: 8px;height:38px;width:97%;border: 1px solid lightgrey;">
                <i class="icon ion-search placeholder-icon" ng-click="Searchunpaid()" style="padding:8px"></i>
                <input type="submit" ng-click="Searchunpaid()" value="{{searchBtn}}" id="mytext_unpaid" ng-class="{ 'searchTextBlack': searchTextBlack }"  style="background-color:white;border-style: none;padding-top:3px;color:none;width:80%;height:35px;text-align: left;color: lightgrey;z-index: 20;">
               <img ng-click="clearFilter()" alt="filter"  src="./images/filter.png" class="filtercss">
            </div>

		</form>
</ion-content>
 <ion-content style="margin-top:13%" padding="true" class="recordcontractInfoCard" ng-model="unpaidIndex" overflow-scroll="false">
        <div  class="card" style="margin-top:0px" ng-repeat="paidContract in (upPaidContractList = (contractList | filter:{json :{'type': 'UNPAID'}}:true) | limitTo: 1: unpaidIndex)" >
          <ion-list class="contractInfoItems">

		


           <div class="row">
		<div class="col col-50 left" >{{allocatedDatesT}}</div>
		<div class="col col-50 right" style="color: #008345">{{paidContract.json.assignedDate | date:'dd-MM-yyyy'}}</div>
	</div>
	<div class="row">
		<div class="col col-50 left" >{{contractId}}</div>
		<div ng-click="openDetail(paidContract._id)" class="col col-50 right" style="color: #008345">{{paidContract.json.contractId}}</div>
	</div>
	<div class="row">
		<div class="col col-50 left" >{{contCustName}}</div>
		<div class="col col-50 right" style="color: #008345">{{paidContract.json.firstName}}</div>
	</div>
	
	<div class="row">
		<div class="col col-50 left" >{{customerConNumber}}</div>
		<div class="col col-50 " style="color: #008345">
		<a ng-show="paidContract.json.mobilePhone.length > 0" href="tel:{{paidContract.json.mobilePhone}}">
		<div style="float:right;" >
		
				<img class="paidcallButtonIcon" src="images/call_button.png" /></div>
       <div class="paidcallButtonNum" style="color: #008345">{{paidContract.json.mobilePhone}}</div>
		</a>
		</div>
		
	</div>
	<div class="row">
		<div class="col col-50 left" >{{ptpAmountText}}</div>
		<div class="col col-50 right" style="color: #008345">{{	paidContract.json.ptpAmount}}</div>
	</div>
	<div class="row">
		<div class="col col-50 left" >{{ptpDateText}}</div>
		<div class="col col-50 right" style="color: #008345">{{paidContract.json.nextActionDate | date:'dd-MM-yyyy'}}</div>
	</div>
	<div class="row">
		<div class="col col-50 left" >{{installmentText}}</div>
		<div class="col col-50 right" style="color: #008345">{{paidContract.json.installment}}</div>
	</div>
	<div class="row">
		<div class="col col-50 left" >{{serviceText}}</div>
		<div class="col col-50 right" style="color: #008345">{{paidContract.json.serviceFee}}</div>
	</div>
	
	<div class="row">
		<div class="col col-50 left" >{{ptpChannel}}</div>
		<div class="col col-50 right" style="color: #008345">{{paidContract.json.paymentMethod}}</div>
	</div>
	<div class="row">
		<div class="col col-50 left" >{{caseCountText}}</div>
		<div class="col col-50 right" style="color: #008345">{{totalUnpaidCaseValue}}</div>
	</div>
	
             
           
      </ion-list>              
        </div>

      	<div class="nextPreDiv" >
		<div  class="preLink2"   ng-show="previousDiv" ><h5 class="nextPreText" ng-click="nextCase(-1, upPaidContractList)">{{preButton}}</h5></div>
		<div class="nextLink2"   ng-show="(nextDiv && upPaidContractList.length >1)" ><h5 class="nextPreText" ng-click="nextCase(1, upPaidContractList)">{{nextButton}}</h5></div>
		</div>
    </ion-content>

    </ion-content>
    
    
    
   
</ion-view> -->










<ion-view title="{{unPaidCaseTitle}}" id="page10">
  
   <ion-nav-buttons
       side="left">
      
      
       <div class="recordBackDiv"  ng-click="unpaidBack()" >
           <img class="headerIconsLeft headerIconsLeft2 recordBack" src="img/back_button.png">
               </div>
  
  
   </ion-nav-buttons>
  
  
  
   <ion-nav-buttons side="right">
               <figcaption  ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }"   class="contHeaderFigCaption"  ng-click="closeContractModule()" >{{cancelButton}}</figcaption>
               <img   class="headerIconsRight" ng-click="closeContractModule()" src="img/cancel.png">
                  
           </ion-nav-buttons>
          
           <ion-content style="margin-top: 6%" padding="true" class="recordcontractInfoCard" ng-model="unpaidIndex" overflow-scroll="false">
               <div  class="card" style="margin-top:0px" >
                   <ion-list class="contractInfoItems">
                      
                      
                      
                      
                       <div class="row">
                           <div class="col col-50 left" >{{allocatedDatesT}}</div>
                           <div class="col col-50 right" style="color: #008345">{{unpaiddata.json.assignedDate | date:'dd-MM-yyyy'}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-50 left" >{{contractId}}</div>
                           <div ng-click="openDetail(unpaiddata._id)" class="col col-50 right" style="color: #008345">{{unpaiddata.json.contractId}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-50 left" >{{contCustName}}</div>
                           <div class="col col-50 right" style="color: #008345">{{unpaiddata.json.firstName}}</div>
                       </div>
                      
                       <div class="row">
                         
                         
                         
                         
                         
                         
                          <div class="col col-50 left" >{{customerConNumber}}</div>
                           <div class="col col-50 " ng-show="phoneNumber" style="color: #008345">
                               <a href="tel:{{unpaiddata.json.mobilePhone}}">
                                   <div style="float:right;" >
                                      
                                       <img class="paidcallButtonIcon" src="images/call_button.png" /></div>
                                   <div class="paidcallButtonNum" style="color: #008345">{{unpaiddata.json.mobilePhone}}</div>
                               </a>
                           </div>

                       </div>
                       <div class="row">
                           <div class="col col-50 left" >{{ptpAmountText}}</div>
                           <div class="col col-50 right" style="color: #008345">{{	unpaiddata.json.ptpAmount}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-50 left" >{{ptpDateText}}</div>
                           <div class="col col-50 right" style="color: #008345">{{unpaiddata.json.nextActionDate | date:'dd-MM-yyyy'}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-50 left" >{{installmentText}}</div>
                           <div class="col col-50 right" style="color: #008345">{{unpaiddata.json.installment}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-50 left" >{{serviceText}}</div>
                           <div class="col col-50 right" style="color: #008345">{{unpaiddata.json.serviceFee}}</div>
                       </div>
                      
                       <div class="row">
                           <div class="col col-50 left" >{{ptpChannel}}</div>
                           <div class="col col-50 right" style="color: #008345">{{unpaiddata.json.paymentMethod}}</div>
                       </div>
                       <div class="row">
                           <div class="col col-50 left" >{{caseCountText}}</div>
                           <div class="col col-50 right" style="color: #008345">{{totalUnpaidCaseValue}}</div>
                       </div>
                      
                      
                      
                   </ion-list>             
               </div>
              
              
           </ion-content>
          
   
          
          
          
          
</ion-view>
