<ion-view title="{{viewBidderHeader}}" >


<ion-nav-buttons side="left">

<div class="recordBackDiv"  ng-click="bidderBack()">
            <img class="headerIconsLeft headerIconsLeft2 recordBack" src="img/back_button.png">
                </div> </ion-nav-buttons>  
	
<ion-nav-buttons side="right">
		<!--  <figure id="cancelRepossession">
                 <img  class="headerIconsRight headerIconsRight1" ng-click="clearRepossession()"  src="img/clear.png">
                     <figcaption class="contHeaderFigCaption">Cancel Termination</figcaption>
                     </figure> -->
		<figcaption  class="contHeaderFigCaption"  ng-class="{ 'contHeaderFigCaptionViet': cnclButtonViet }" ng-click="bidderBack()" >{{cancelButton}}</figcaption>
		<img   class="headerIconsRight" ng-click="bidderBack()" src="img/cancel.png">

	</ion-nav-buttons>

   <ion-content  scroll="false"  class="has-header">
        
  <div id="recordColumnHeader" style="margin-top:5px;margin-left:4px;margin-right:4px" class="bar bar-subheader bar-balanced">
                <div style="width:27%" class = "recordheaderBarCols">{{bidderName}}</div>
                <div style="width:20%" class = "recordheaderBarCols">{{idNumber}} </div>
                <div style="width:30%" class = "recordheaderBarCols">{{phoneNumber}}</div>
                 <div style="width:20%" class = "recordheaderBarCols">{{amount}}</div>

            </div>
        
  </ion-content>

<ion-content has-bouncing="true" class="contractListContainerRecord" style="margin-top:12%!important" padding="true" ng-class="{ 'recordContentTopCss': cnclButtonViet }" ng-model="bidderViewListLocal"  ng-show="dataValForViewBidderLocal.length>0">
        <div class="recordRows" class="bar bar-subheader bar-balanced" ng-repeat="bidderViewListItem in dataValForViewBidderLocal"  >
            <div style="width:25%" class = "recordListCols" data-ng-click="goToviewBidder($index)">{{dataValForViewBidderLocal[$index].bidderName}} </div>
            
            <div style="width:25%" class = "recordListCols" data-ng-click="goToviewBidder($index)">{{dataValForViewBidderLocal[$index].idNumber}}</div>
            
            <div style="width:25%; color:#0000EE; "  class = "recordListCols" data-ng-click="makeCallBidder({{dataValForViewBidderLocal[$index].phoneNumber}})" > {{dataValForViewBidderLocal[$index].phoneNumber}} </div>
            
            <div style="width:25%" class = "recordListCols" data-ng-click="goToviewBidder($index)">{{currencyFormat(dataValForViewBidderLocal[$index].amount)}} </div>
            
        </div>

 </ion-content>

    
</ion-view>